<ion-content padding [fullscreen]="true">
  <div class="bg">
  <div id="recaptcha-container"></div>

  <h1>Welcome To Grööpy</h1>
  <p>Login to get started</p>

  <ion-item>
    <ion-label  position="floating">Phone Number</ion-label>
    <ion-input type="number" [(ngModel)]="phoneNumber"></ion-input>
  </ion-item>

  <ion-button block full outline style="width: 100%; max-width:450px;" id="sign-in-button" (click)="registerWithPhone(phoneNumber)">
    Sign In
  </ion-button>
</div>
</ion-content>
