#phone-number{
  border-radius: 4px;
  border: 2px solid #eee;
  padding: 2px 8px !important;
  margin: 4px 0px;
}

ion-item{
  border:none;
  margin-bottom: 1rem;
}

ion-text{

  h1{
    font-size: 41px;
  }
}
