app-phoneregister{


.login-background {
  color: white;
  background-size: 400% 400%;
  background-attachment: fixed;
  background: #ff9f00;
  background: linear-gradient(225deg, rgba(255, 159, 0, 0.9920343137) 15%, #ffa250 41%, rgba(194, 125, 14, 0.7567401961) 57%, rgba(9, 155, 185, 0.4290091036) 100%);
}
}
