<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742448802415-n5iro1qee64fd3kvnpa3ko8bi4e3mg9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742448802415-n5iro1qee64fd3kvnpa3ko8bi4e3mg9q</string>
	<key>API_KEY</key>
	<string>AIzaSyDP9AmNSC8IiNdxAfgBxpl61AEa5XR0DGg</string>
	<key>GCM_SENDER_ID</key>
	<string>742448802415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.groopygroups.groopy</string>
	<key>PROJECT_ID</key>
	<string>groopy-c424a</string>
	<key>STORAGE_BUCKET</key>
	<string>groopy-c424a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742448802415:ios:303244e88bef19b16ebb9a</string>
	<key>DATABASE_URL</key>
	<string>https://groopy-c424a.firebaseio.com</string>
</dict>
</plist>