<!--
  Generated template for the BuddiesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar color="app-primary" hideBackButton="false">

  </ion-navbar>

<ion-searchbar (keydown)="search($event)" [disabled]="disableSearch ? true : null">
</ion-searchbar>

</ion-header>


<ion-content padding>

  <ion-list no-lines *ngIf="foundBuddies.length > 0">
    <ion-item *ngFor="let friend of foundBuddies">
    <ion-item style="border-bottom: 1px #ccc solid;">
      <ion-avatar item-left>
        <img src="{{friend.photoURL}}" >
      </ion-avatar>
    <h2>{{friend.displayName}}</h2>
    <p>
      {{friend.bio}}
    </p>
    <div class="option-buttons"  item-end>
      <button ion-button color="app-primary" (click)="sendReq(friend)">
        <ion-icon name="person-add"></ion-icon>
      </button>
      </div>
    </ion-item>
    <!--
    <ion-item-options slide="left">
      <button ion-button color="app-primary" (click)="sendReq(friend)">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-item-options>
  -->
  </ion-item>
  </ion-list>

  <ion-item *ngIf="foundBuddies.length < 1">
    <ion-row height="3rem"></ion-row>
    <hr>
    <h2 color="app-disabled" style="color:#cfcfcf">Search for buddies</h2>
  </ion-item>

</ion-content>
