page-profile {
  .background {
    /*background-image: url('../assets/imgs/bg.jpg');*/
    color: white;
    background-size: 400% 400%;
    background-attachment: fixed;
    background: rgb(255,159,0);
    background: linear-gradient(225deg, rgba(255,159,0,0.9920343137254902) 15%, rgba(255,162,80,1) 41%, rgba(194,125,14,0.7567401960784313) 57%, rgba(9,155,185,0.4290091036414566) 100%);
  }

  ion-content {
    –background: url(../../assets/background_full.jpg) no-repeat top center/cover fixed, #fff;
    position: relative;
    height: 100%;
    width: 100%;
}

ion-toolbar {
    –background: transparent;
}
}
