<ion-header>

  <ion-navbar color="app-primary">

    <ion-title>Profile (edit)</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row text-center class="profile-img">
    <img src="{{imgUrl}}" alt="{{imgUrl}}">
  </ion-row>

  <ion-row text-center>
    <button ion-button block outline color="app-primary" (click)="chooseImg()">Choose Image</button>
  </ion-row>
  <ion-row text-center *ngIf="moveOn">
    <button ion-button block outline color="app-primary" (click)="proceed()">Skip this step</button>
  </ion-row>
  <ion-row text-center *ngIf="!moveOn">
    <button ion-button block outline color="app-primary" (click)="updateProceed()">Upload & proceed </button>
  </ion-row>

</ion-content>

