<ion-header>

  <ion-navbar color="app-primary">

    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Chats</ion-title>

  </ion-navbar>
  <ion-searchbar
  [(ngModel)]="searchChats" (ionInput)="search($event)">
</ion-searchbar>
</ion-header>


<ion-content padding>


  <ion-item-group>
    <ion-item-divider>
      <ion-label>Requests</ion-label>
    </ion-item-divider>
   <ion-item *ngFor="let request of myRequests" >
    <ion-avatar item-left>
      <img src="{{request.photoURL}}" >
    </ion-avatar>
  <h2>{{request.displayName}}</h2>
  <p>
    {{request.bio}}
  </p>
  <div class="option-buttons"  item-end>
  <button ion-button color="app-primary" (click)="acceptRequest(request)">
    <ion-icon name="checkmark"></ion-icon>
  </button>
  <button ion-button color="danger" (click)="deleteRequest(request)">
    <ion-icon name="trash"></ion-icon>
  </button>
</div>
   </ion-item>
 </ion-item-group>

   <ion-item-group>
  <ion-item-divider>
    <ion-label>Friends</ion-label>
  </ion-item-divider>
   <button ion-item  *ngFor="let friend of myFriends">

      <ion-avatar item-left>
        <img src="{{friend.photoURL}}" >
      </ion-avatar>
    <h2>{{friend.displayName}}</h2>
    <p>
      {{friend.bio}}
    </p>

  </button>
   </ion-item-group>
  <ion-fab bottom right>
    <button ion-fab (click)="addBuddy()" color="app-primary"><ion-icon name="person-add"></ion-icon></button>
  </ion-fab>
</ion-content>
