<ion-content class="ion-padding" [fullscreen]="true">
  <ion-text color="primary">
    <h1>Grööpy</h1>
    <p>Get started by logging into <br /> your account.</p>
  </ion-text>

  <div class="actions">
    <div class="login-buttons">
      <ion-button fill="clear" [disabled]="true"></ion-button>
      <ion-button color="facebook" fill="clear" (click)="loginWithFacebook()">
            <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button color="google" fill="clear" (click)="loginWithGoogle()">
          <ion-icon name="logo-google"></ion-icon>
      </ion-button>
      <ion-button fill="clear" [disabled]="true"></ion-button>
    </div>

    <div class="separator">
      <span>or</span>
      <span class="line left"></span>
      <span class="line right"></span>
    </div>

    <ion-button expand="block" class="signup-btn" (click)="goToPhoneRegister()">
      <ion-label>Sign in with phone</ion-label>
    </ion-button>

    <ion-button expand="block" class="signup-btn" (click)="goToEmailRegister()">
      <ion-label>Sign in wth email</ion-label>
    </ion-button>
  </div>

</ion-content>
